    python-dotenv
    google-genai
    openai-agents
    ipykernel>=6.31.0
    openai>=2.14.0
    ipywidgets>=8.1.8
    pandas>=2.3.3
    langchain>=0.3.27
    langchain-openai>=0.3.35
    beautifulsoup4>=4.14.3
    langchain-community>=0.3.31
    pypdf>=6.5.0
    faiss-cpu>=1.13.0
    httpx>=0.28.1
    numexpr>=2.10.2
    wikipedia>=1.4.0
    ddgs>=9.10.0
    urllib3>=2.6.3
    nbconvert>7.16.6
    aiohttp>=3.13.3
    pyasn1>=0.6.2
    rich>=14.3.3